:root {
  --outerSpace: #333738;
  --rawSienna: #D08956;
  --horizon: #5B909D;
  --gulfStream: #82ABAF;
  --yellowGreen: #9BC53D;
  --thulianPink: #E56399;
}

body {
  font-family: 'Oxanium', monospace;
  background: var(--outerSpace);
  color: var(--gulfStream);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fp-overflow {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, black 0%, rgba(0,0,0,0.25) 100%); 
}

#intro {
  background-image: url(../images/robots-among-us.png);
}

#new {
  background-image: url(../images/evou-robots.png);
}

#used {
  background-image: url(../images/refurbished-robots.png);
}

#like-us {
  background-image: url(../images/robots-among-us-2.png);
}