:root {
  --outerSpace: #333738;
  --rawSienna: #D08956;
  --horizon: #5B909D;
  --gulfStream: #82ABAF;
  --yellowGreen: #9BC53D;
  --thulianPink: #E56399;
}

body {
  font-family: 'Oxanium', monospace;
  background: var(--outerSpace);
  color: var(--gulfStream);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* bootstrap overrides */

.text-primary {
  color: var(--horizon) !important;
}

.btn-primary {
  background: var(--horizon);
}

.border-primary, .btn-primary  {
  border-color: var(--horizon) !important;
}

.text-warning {
  color: var(--rawSienna) !important;
}

.btn-warning {
  background-color: var(--rawSienna) !important;
}

.border-warning, .btn-warning {
  border-color: var(--rawSienna) !important;
}

.text-success {
  color: var(--yellowGreen) !important;
}

.btn-success {
  background-color: var(--yellowGreen) !important;
}

.border-success, .btn-success  {
  border-color: var(--yellowGreen) !important;
}

/* custom styles */

.section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#fp-nav ul li a span {
  background: white;
}

.fp-overflow {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, black 0%, rgba(0,0,0,0.25) 100%); 
}

#intro {
  border-left: 22px solid var(--horizon);
  background-image: url(../images//large/robot-on-rocks.jpg);
}

#new {
  border-left: 22px solid var(--yellowGreen);
  background-image: url(../images/large/evou-robots.jpg);
}

#used {
  border-left: 22px solid var(--rawSienna);
  background-image: url(../images/large/refurbished-robots.jpg);
}

#like-us {
  border-left: 22px solid var(--yellowGreen);
  background-image: url(../images/large/robots-among-us-2.jpg);
}